.container{
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.form_container input{
    height: 30px;
    align-self: center;
}